html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

.body{
    background-color:black;
    color: white; 
    font-family: "Helvetica", sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/chanteur-scene.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

/* NAV */

.nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 30px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    margin: 0 35px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    font-size: x-large;
}

.nav a:hover {
    color: white;
    opacity: 1;
    transition-duration: 0.8s;
}

#page-actuelle{
  opacity: 1;
}

#melodeez-logo{
  width: 80%;
  position: relative;
  left: 20px;
}

#scroll-up{
  width: 20%;
}

#scrollUp
{
position: fixed;
bottom : 10px;
right: -130px;
opacity: 0.5;
}

/* BODY */

h1{
    text-align: center;
    font-size: xx-large;
}

.ancre{
    display: center;
    margin-left: 5%;
    position: relative;
}

#ancre-offre{
    position: relative;
    right: 4%;
    display: inline-block;
    vertical-align: top;
}

#ancre-service{
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-left: 6px solid white;
    padding-left: 50px;
}

h2{
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;
}

.container_1 {
    width: 600px;
    height: 330px;
    display: center;
    margin: auto;
    margin-top: 70px;
    background: repeating-linear-gradient(rgb(81, 0, 255),rgb(128, 0, 113));
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
  }
  
.container_1:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
  }
  
.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
.container_1:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
.second-content {
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    display: center;
    text-align: center;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
.container_1:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.0rem;
    transform: rotate(0deg);
  }


.container_2 {
    width: 600px;
    height: 365px;
    display: center;
    margin: auto;
    margin-top: 70px;
    background: repeating-linear-gradient(rgb(255, 177, 33),rgb(186, 47, 70));
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
  }
  
.container_2:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
  }
  
.first-content-2 {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
.container_2:hover .first-content-2 {
    height: 0px;
    opacity: 0;
  }
  
.second-content-2 {
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    display: center;
    text-align: center;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
.container_2:hover .second-content-2 {
    opacity: 1;
    height: 100%;
    font-size: 1.0rem;
    transform: rotate(0deg);
  }


.container_3 {
    width: 600px;
    height: 400px;
    display: center;
    margin: auto;
    margin-top: 70px;
    background: repeating-linear-gradient(rgb(81, 0, 255),rgb(128, 0, 113));
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
  }
  
.container_3:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
  }
  
.first-content-3 {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
.container_3:hover .first-content-3 {
    height: 0px;
    opacity: 0;
  }
  
.second-content-3 {
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    display: center;
    text-align: center;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
.container_3:hover .second-content-3 {
    opacity: 1;
    height: 100%;
    font-size: 1.0rem;
    transform: rotate(0deg);
  }


  .container_4 {
    width: 600px;
    height: 365px;
    display: center;
    margin: auto;
    margin-top: 70px;
    background: repeating-linear-gradient(rgb(255, 177, 33),rgb(186, 47, 70));
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
  }
  
.container_4:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
  }
  
.first-content-4 {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
.container_4:hover .first-content-4 {
    height: 0px;
    opacity: 0;
  }
  
.second-content-4 {
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    display: center;
    text-align: center;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
.container_4:hover .second-content-4 {
    opacity: 1;
    height: 100%;
    font-size: 1.0rem;
    transform: rotate(0deg);
  }


.les-offres{
    margin-top: 0%;
  }

.title-card{
    margin-top: 0%;
    padding-top: 0%;
  }

.btn{
    background-color: black;
    display: center;
    width: 350px;
    height: 85px;
    border: 8px solid black;
    border-radius: 25px;
}

a[href]{
  color: white;
}

a[href]:hover{
    color: white;
    opacity: 1;
}

.nav-lien:hover{
    color: white;
    opacity: 1;
}

#ancre-offre:hover{
    color: blueviolet;
}

#ancre-offre{
    color:white;
    transition: color 0.3s;
}

#ancre-service:hover{
    color: blueviolet;
}

#ancre-service{
    color: white;
    margin-right: 15px;
    transition: color 0.3s;
}

#les-services{
    padding-top: 50px;
    background-attachment: scroll;
}

.services-deezer{
    margin-top: 50px;
    background-color: #000000;
    z-index: -1;
}

.texte-droite{
    width: 500px;
    margin-left: 20px;
    position: relative;
    right: 150px;
    text-align: justify;
}

.texte-droite-2{
    width: 800px;
    margin-left: 20px;
    position: relative;
    right: 250px;
    text-align: justify;
}

.texte-gauche{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-left: 175px;
    text-align: justify;
}

#blind-test-text{
    display: center;
    margin: auto;
    width: 1000px;
    text-align: justify;
}

.flow{
    width:75%;
    height:75%;
}

.song-catch{
    width: 75%;
    height: 75%;
}

.blind-test{
    width: 100%;
    height: 100%;
}

.block_services {
    clear: both;
    display: flex;
    align-items: center; 
}

.block_services-3 {
    clear: both;
    display: flex;
    align-items: center; 
}

.zen{
    width: 60%;
    height: 60%;
    position: relative;
    left: 100px;
}


#retour-en-haut {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


/* FOOTER */

footer{
    position: relative;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
   flex-wrap: wrap; 
}

footer .social_icon a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon a:hover{
    transform: translateY(-10px)
}

footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.facebook{
    width: 37px;
    height: 37px;
}

.twitter{
    width: 35px;
    height: 35px;
}

.instagram{
    width: 33px;
    height: 33px;
}

.linkedin{
    width: 27px;
    height: 27px;
}