body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

/* NAV */

.nav {
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* Centre les éléments du nav horizontalement */
    width: 100%;
    padding: 10px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ff6600;
}


.black-top {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.logo-and-title {
    display: flex;
    align-items: center;
}
    


.language-button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
    transition: color 0.3s;
    margin-right: 20px; /* Espacement du bouton par rapport au dernier élément de la navigation */
}


.language-button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
    transition: color 0.3s;
}

.language-button:hover {
    color: #000000;
}

.content {
    position: relative;
    text-align: center;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('your-animation.gif'); /* Remplacez 'your-animation.gif' par le chemin de votre animation */
    background-size: cover;
    opacity: 0.5;
}

/* Styles pour le bloc central avec un dégradé de couleurs */
.centered-block {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #ff6600, #ff0099); /* Dégradé de couleurs */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombre douce */
    animation: fadeIn 1s ease-in, shake 2s ease-in-out infinite; /* Animation de fondu en entrée et secousse */
}

/* Styles pour l'animation de fondu en entrée */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

/* Styles pour l'animation de l'arrière-plan */
body {
    background-color: black;
    color: white;
    animation: musicBackground 10s linear infinite alternate;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin: 0 auto;
}

/* Styles pour les barres de musique */
.music-bars {
    position: fixed;
    bottom: 0; /* Au lieu de top: 0; */
    left: -100%;
    width: 100%;
    height: 5px;
    background-image: repeating-linear-gradient(90deg, yellow, yellow 20px, green 20px, green 40px);
    animation: scrollBars 10s linear infinite;
}

@keyframes scrollBars {
    0% {
        left: -100%; /* Démarre en dehors de l'écran à gauche */
    }
    100% {
        left: 100%; /* Termine en dehors de l'écran à droite */
    }
}

/* Appliquer des styles différents à certaines barres */
.music-bars:nth-child(2n) {
    height: 3px; /* Barres plus petites */
}


.centered-block img {
    max-width: 200px;
    margin-bottom: 20px;
}

.centered-block h2 {
    color: #ff6600;
    font-size: 24px;
    margin-top: 10px;
}

.centered-block p {
    font-size: 18px;
    line-height: 1.4;
}

footer{
    position: relative;

    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
   flex-wrap: wrap; 
}

footer .social_icon a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon a:hover{
    transform: translateY(-10px)
}

footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.facebook{
    width: 37px;
    height: 37px;
}

.twitter{
    width: 35px;
    height: 35px;
}

.instagram{
    width: 33px;
    height: 33px;
}

.linkedin{
    width: 27px;
    height: 27px;
}
