body {
    background-color: black;
    color: white;
    font-family: "Helvetica", sans-serif;
}

h1{
    display: center;
    margin-left: 45%;
}
/*NAV*/

.nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 30px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    margin: 0 35px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    font-size: x-large;
}

.nav a:hover {
    color: white;
    opacity: 1;
    transition-duration: 0.8s;
}

#melodeez-logo{
  width: 80%;
  position: relative;
  left: 20px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/imagefondsocial.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  #scroll-up{
    width: 20%;
  }

  #scrollUp
  {
  position: fixed;
  bottom : 10px;
  right: -130px;
  opacity: 0.5;
  }

/*CONTENU*/


/*MATHEO*/

#titre{
    text-align: center;
}

.book {
    position: relative;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: flex;
    align-items: flex-start;
    flex-direction: center;
    justify-content: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
.cover {
  top: 0;
  position: absolute;
  background-color: pink;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .titre-carte{
    font-size: 20px;
    font-weight: bolder;
    order: 1;
  }

  #titre-1{
    position: relative;
    right: 2px;
  }

  #titre-2{
    position: relative;
    right: 23px;
  }

  #titre-3{
    position: relative;
    right: 22px;
  }

  #titre-4{
    position: relative;
    right: 24px;
  }

  #titre-5{
    position: relative;
    right: 68px;
  }

  #titre-6{
    position: relative;
    right: 20px;
  }

  #titre-7{
    position: relative;
    right: 10px;
  }

  .ligne-1{
    padding-left: 10%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px;
  }

  .ligne-2{
    padding-left: 10%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px;
  }

  .ligne-3{
    display: flex;
    margin-left: 41%;
  }

  #image-1{
    width: 70%;
    position: relative;
    right: 36px;
  }

  #image-2{
    width: 70%;
    position: relative;
    right: 36px;
  }

  #image-3{
    width: 70%;
    position: relative;
    right: 36px;
  }

  #image-4{
    width: 70%;
    position: relative;
    right: 36px;
  }

  #image-5{
    width: 70%;
    position: relative;
    right: 36px;
  }

  #image-6{
    width: 70%;
    position: relative;
    right: 36px;
  }

  #image-7{
    width: 70%;
    position: relative;
    right: 36px;
  }


/*ARTHUR*/
.Arthur {
    background-color: #000000; 
    padding: 10px; 
    border-radius: 10px 10px 0px 0px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-top: 120px;
}

.question {
    margin: 10px 5%;
    cursor: pointer;
    background-color: #1E1E1E;
    padding: 30px;
    border-radius: 5px;
}

.question h3 {
    margin: 0;
    color: #FF6C40; 
    font-weight: bold;
    font-size: 1.2em; 
}

.answer {
    display: none;
    margin-top: 10px;
    padding: 0px;
    background-color: #1E1E1E; 
    border-radius: 5px; 
}

.Arthur h3 {
    text-align: center; 
    color: palevioletred;
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.info ul li {
  margin: 5px 0;
}

.info ul li a {
  text-decoration: none;
  color: #00f;
}

.info ul li a:hover {
  color: #f00;
}


/* Pied de page */

footer{
  marker-end: 100px;
  margin-top: 50px;
}
li{
  text-align: center;
}
footer{
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon a{
    font-size: 2em;
    color: #ffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon .box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box :first-child {
    align-self: center;
}
footer a:hover{
    transform: translateY(-10px)
}

footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.facebook{
    width: 37px;
    height: 37px;
}

.twitter{
    width: 35px;
    height: 35px;
}

.instagram{
    width: 33px;
    height: 33px;
}

.linkedin{
    width: 27px;
    height: 27px;
}
