.nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 30px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    margin: 0 35px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    font-size: x-large;
}

.nav a:hover {
    color: white;
    opacity: 1;
    transition-duration: 0.8s;
}

#page-actuelle{
    opacity: 1;
}


.body{
    background-color:black;
    color: white; 
    font-family: "Helvetica", sans-serif;
}

.titre1{
    display: flex;
    margin-left: 42%;
}

.titre2{
    display: flex;
    margin-left: 45%;
}
/*
.explication{
    display: flex;
    margin-left: 15%;
    margin-top: 1%;
}*/
.explication {
    display: flex;
    margin-left: 13%;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.explication2{
    display: flex;
    margin-left: 15%;
}
.explication3{
    display: flex;
    margin-left: 4%;
}

.top1 {
    display: flex;
    margin-left: 38%; 
}

.deezertop {
    display: flex;
    margin-right: 200px; 
}

.deezertop-container {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin: 60px;
}

.deezertop-container iframe {
    width: 350px;
    height: 670px;
}


h3 {
    text-align: justify; 
    
}
h1{
    font-size: xx-normal;
    text-align: justify; 
    margin-top: 20px;
}

h2{
    text-align: justify; 
    margin-top: 70px;
}
h4 {
    text-align: justify; 
    margin-top: 0.5px;
}




footer{
    position: relative;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
   flex-wrap: wrap; 
}

footer .social_icon a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon a:hover{
    transform: translateY(-10px)
}

footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.facebook{
    width: 37px;
    height: 37px;
}

.twitter{
    width: 35px;
    height: 35px;
}

.instagram{
    width: 33px;
    height: 33px;
}

.linkedin{
    width: 27px;
    height: 27px;
}